@page "/chat"
@using System.Text.Json.Nodes
@using NanoAssistant.BlazorWebApp.Client.MessageParsers
@using NanoAssistant.BlazorWebApp.Client.Models

@attribute [Authorize];

@attribute [StreamRendering(true)];
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false));
@inject HttpClient httpClient;
@inherits OwningComponentBase;
@inject IJSRuntime JS;
@inject IEnumerable<IMessageParser> messageParsers;
@inject ILogger<Chat> logger;

<PageTitle>Chat</PageTitle>
<div class="h-full w-full flex flex-col justify-end ">
    <div id="chatContainer" class="h-full justify-end overflow-y-auto">
        @foreach (var chat in ChatHistory.Chats)
        {
            if (chat.Role == "user")
            {
                <MudStack Class="pa-3" Row="true" Justify="Justify.FlexEnd">
                    <MudPaper Class="pa-3 message-box bg-slate-100">
                        @((MarkupString)Markdown.ToHtml(chat.Message))
                    </MudPaper>
                </MudStack>
            }
            else if (chat.Role == "assistant")
            {
                <MudStack Class="pa-3" Row="true" Justify="Justify.FlexStart" width="70%">
                    <MudPaper Class="pa-3 message-box bg-transparent">
                        @((MarkupString)Markdown.ToHtml(chat.Message))
                    </MudPaper>
                </MudStack>

                if (chat.ParsedMessage != null)
                {
                    switch (chat.ParsedMessage)
                    {
                        case ChartMessage chartMessage:
                            <MudStack Class="pa-3" Row="true" Justify="Justify.FlexStart" width="70%">
                                <MudPaper Class="pa-3 message-box bg-transparent">
                                    <MudChart ChartType="ChartType.Pie" InputData="@chartMessage.Values" InputLabels="@chartMessage.Lables" Width="300px" Height="300px" />
                                </MudPaper>
                            </MudStack>
                            break;
                        default:
                            break;
                    }
                }

                
            }
        }
        
   
    </div>
    <div class="bg-background  p-4 flex gap-2 w-full">
        <MudTextField T="string" Variant="Variant.Outlined" @bind-Text="Message" Placeholder="Message" AutoGrow MaxLines="5" OnKeyDown="OnKeyDown" DebounceInterval="500" />
        <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.ArrowUpward" DropShadow="false" @onclick="SendUserMessage" Disabled="string.IsNullOrWhiteSpace(Message)" />
    </div>
</div>
@code {
    public string Message { get; set; } = string.Empty;
    public Guid IdempotencyKey { get; set; } = Guid.NewGuid();
    public ChatHistoryDto ChatHistory { get; set; } = new ChatHistoryDto();


    protected async override Task OnInitializedAsync()
    {
        await GetChatHistory();
        await base.OnInitializedAsync();
    }
    public async Task OnKeyDown(KeyboardEventArgs keyboardEventArgs)
    {
        if (keyboardEventArgs.ShiftKey == false && keyboardEventArgs.Key == "Enter")
        {
            await SendUserMessage();
        }
    }

    public async Task SendUserMessage()
    {
        if (string.IsNullOrWhiteSpace(Message))
        {
            return;
        }

        ChatHistory.Chats.Add(new ChatDto()
            {
                Role = "user",
                Message = Message
            });

        var userMessage = new UserMessageDto() { IdempotencyKey = IdempotencyKey.ToString(), Message = Message };
        Message = string.Empty;

        StateHasChanged();
        await ScrollToBottom();


        var response = await httpClient.PostAsJsonAsync("/api/chat", userMessage);
        response.EnsureSuccessStatusCode();
        var chat = await response.Content.ReadFromJsonAsync<ChatDto>();
        if (chat != null)
        {
            ParseChat(chat);
            ChatHistory.Chats.Add(ParseChat(chat));
            StateHasChanged();
            await ScrollToBottom();
        }
        IdempotencyKey = Guid.NewGuid();

    }

    public async Task GetChatHistory()
    {
        var response = await httpClient.GetFromJsonAsync<ChatHistoryDto>("/api/chat/history");
        if (response != null)
        {
            var chats = new List<ChatDto>();
            foreach (var chat in response.Chats)
            {
                
                if (chat.Role != "assistant")
                {
                    chats.Add(chat);
                    continue;
                }

                chats.Add(ParseChat(chat));
            }
            ChatHistory = new ChatHistoryDto
                {
                    Chats = chats
                };
            StateHasChanged();
            await ScrollToBottom();
        }
    }

    private async Task ScrollToBottom()
    {
        await JS.InvokeVoidAsync("scrollToBottom", "chatContainer");
    }

    public JsonNode? ExtractJsonNode(string message)
    {
        string jsonStart = "{";
        string jsonEnd = "}";

        int from = message.IndexOf(jsonStart) ;
        int to = message.LastIndexOf(jsonEnd);

        if (from == -1 || to == -1)
        {
            return null;
        }

        int length = to - from + 1;


        string json = message.Substring(from, length);

        try
        {
            return JsonNode.Parse(json);
        }
        catch (Exception ex)
        {
            logger.LogError(ex, "Failed deserializing json");
            return null;
        }

    }

    public ChatDto ParseChat(ChatDto chat)
    {
        try
        {

            IParsedMessage? parsedMessage = null;
            var jsonNode = ExtractJsonNode(chat.Message);
            if (jsonNode != null)
            {
                foreach (var messageParser in messageParsers)
                {
                    if (messageParser.CanParseMessage(jsonNode))
                    {
                        parsedMessage = messageParser.ParseMessage(jsonNode);
                        break;
                    }
                }
                chat.ParsedMessage = parsedMessage;
            }

        }
        catch (Exception ex)
        {
            logger.LogWarning(ex, "Failed parsing message");
        }
        return chat;
    }
}
